/* Sweep To Bottom */
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    .hvr-sweep-to-bottom:before {
        content: '';
        /*position: absolute;*/
        z-index: -9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #cab041;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        color: #fff;
    }

    .hvr-sweep-to-bottom:hover,
    .hvr-sweep-to-bottom:focus,
    .hvr-sweep-to-bottom:active {
        color: white;
    }

        .hvr-sweep-to-bottom:hover:before,
        .hvr-sweep-to-bottom:focus:before,
        .hvr-sweep-to-bottom:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }

/*-- footer --*/
.footer {
    background: #212121;
    padding: 4em 0 0;
}

.agileinfo_footer_grid h4 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    margin: 0 0 2em;
    //position: relative;
    padding-bottom: 0.5em;
}

    .agileinfo_footer_grid h4:after {
        background: #cab041;
        width: 30%;
        height: 2px;
        content: '';
        /*position: absolute;*/
        bottom: -15%;
        left: 0%;
    }

.agileinfo_footer_grid ul {
    padding-left: 0;
}

    .agileinfo_footer_grid ul li {
        list-style-type: none;
        margin-bottom: 1em;
        font-size: 13px;
        line-height: 1.8em;
        color: #ddd;
    }

        .agileinfo_footer_grid ul li span {
            left: -1em;
        }

        .agileinfo_footer_grid ul li a {
            color: #ddd;
            text-decoration: none;
        }

            .agileinfo_footer_grid ul li a:hover {
                color: #fff;
            }

.agileinfo_footer_grid1 {
    float: left;
    width: 33%;
    margin: 0 0.5em 0.5em 0em;
}

.w3agile_footer_copy {
    padding: 2em 0;
    border-top: 1px solid #606060;
    text-align: center;
    margin-top: 3em;
}

    .w3agile_footer_copy p {
        font-size: 12px;
        color: #8f8f8f;
        margin: 0;
        line-height: 1.8em;
    }

        .w3agile_footer_copy p a {
            color: #ddd;
            text-decoration: none;
        }

            .w3agile_footer_copy p a:hover {
                color: #fff;
            }

.agileinfo_footer_grid:nth-child(1) {
    padding: 0 2em 0 0;
}

.agileinfo_footer_grid p {
    color: #fff;
    line-height: 2em;
    font-size: 13px;
}

    .agileinfo_footer_grid p span {
        display: block;
        margin: 1em 0 0;
    }

ul.agileits_social_icons li {
    display: inline-block;
}

.icon {
    float: none;
    position: relative;
    height: 0;
    margin: 1% 0.5% 0;
}

.agileits_social_icons_grids {
    text-align: left;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
