@page
@model TBSHelloWorld.Pages.CreateModel
@{
}


<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="center">
        <h2>綠色流動的力量</h2>
        <h2>沼氣發電 點亮地方創生</h2>
        <h3>
            由於對土地深切的熱愛和對未來的無限憧憬
        </h3>
        <h3>
            有機廢棄物不應該被遺棄，它們擁有轉化為綠色能源與滋養大地的潛力。
        </h3>
        <h3>
            作為一個充滿理想的團隊
        </h3>
        <h3 class="font-light">
            我們以科學為體、 正義為魂、 美學為表
        </h3>
        <h3>
            透過厭氧消化的技術，將農田、食品加工和畜牧業廢棄產出轉變為沼氣與肥料
        </h3>
        <h3>
            為我們的發電設備及環境注入生命
        </h3>
        <h3>
            每一度電的背後，都是與這片土地的一次深情對話
        </h3>
        <h3>
            我們不僅是一家發電公司，更是地方永續的守護者
        </h3>
        <h3>
            與當地農民建立的合作關係，勾勒地方創生的藍圖
        </h3>
        <h3>
            讓這片土地的故事在清新的風中自由飄揚
        </h3>
        <h3>
            台灣沼氣電力公司承諾將綠色流動的力量融入每一個角落
        </h3>
        <h3>
            讓每一項成果都回饋於這片土地與其人民，實現真正的地方創生之夢
        </h3>
        <h3>
            台沼電結合跨域人才專業，實現生產、生活、生態的共榮樣貌
        </h3>



    </div>
    <div class="line"> </div>
    <div>
        <img src="Image/create_p.png" alt="create_p" style="width: 100%;" />
    </div>
    <div class="line"> </div>
    <div>
        <img src="Image/create_v.png" alt="create_v" style="width: 100%;" />
    </div>
    <div class="line"> </div>
    <div>
        <img src="Image/create_s.png" alt="create_s" style="width: 100%;" />
    </div>
</body>

</html>