@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="blobs">
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
    </div>
    <div class="center">
        <h2>扭轉嫌惡設施、變身地方榮耀</h2>
        <h2></h2>
        <h2 class="font-light">科學為體、正義為魂、美學為表</h2>
        <h2></h2>
        <h2>農廢循環經濟共榮</h2>
    </div>

</body>

</html>