@page
@model PrivacyModel


<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body class="quote">
    <div>

        <img src="Image/Vision_q.png" alt="Vision_q" style="width: 100%;" />

    </div>
    <div class="line"> </div>
    <div>

        <img src="Image/vision_c.png" alt="vision_c" style="width: 100%;" />
    </div>

    <div class="line"> </div>
    <div>

        <img src="Image/vision_m.png" alt="vision_m" style="width: 100%;" />
    </div>

</body>

</html>